@import "tailwindcss";

@theme {
  --color-bodegon-crema: #f5f0e6;
  --color-bodegon-rojo: #7f1d1d;
  --color-primary: #1c1917;
  --color-accent: #b45309;
}


html {
  scroll-behavior: smooth;
}


section {
  scroll-margin-top: 80px;
}

@layer utilities {
  .bg-gradient-to-crema {
    background: linear-gradient(to bottom, #ffffff, var(--color-bodegon-crema));
  }
  .bg-gradient-to-dark {
    background: linear-gradient(to bottom, var(--color-bodegon-crema), var(--color-primary));
  }
}
